{% extends base.html.twig %}
<div class="navBar">
    <nav class="nav">
        <ul>
            <a href=""><li>Villes</li></a>
            <a href=""><li>Campus</li></a>
            <a href=""><li>Accueil</li></a>
            <a href=""><li>Mon profil</li></a>
            <a href=""><li>se déconnecter</li></a>
        </ul>
    </nav>
</div>