<nav>
    <ul>
        {% if is_granted("ROLE_USER") %}
            <a href="{{ path('main_accueil') }}">
                <li>Accueil</li>
            </a>
            <a href="{{ path('participant_Mon_profil') }}">
                <li>Mon profil</li>
            </a>
            <a href="{{ path('app_logout') }}">
                <li>se déconnecter</li>
            </a>
        <a href="{{ path('sortie_modifier', {'id': '9'}) }}">
                <li>Modification</li>
            </a>{% if is_granted("ROLE_ADMIN") %}
            <a href="">
                <li>Villes</li>
            </a>
            <a href="">
                <li>Campus</li>
            </a>
        {% endif %}

        {% endif %}
    </ul>
</nav>
