<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
    </head>
    <body>
    <div class="container">
        <header>
            {% include 'BodyStructure/navBar.html.twig' %}
        </header>
        {% block body %} Body par défaut {% endblock %}
    </div>
    </body>


</html>
